.link_animation1::before {
  content: "";
  width: 20%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  background: #6d28d9;
  transition: all 0.3s linear;
}

.link_animation1:hover::before {
  width: 100%;
}
