.carousel {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slider {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-blend-mode: overlay;
  clip-path: circle(0% at 0 50%);
}

.hero_content .hero_para {
  padding-bottom: 10px;
}

.carousel .navigation {
  z-index: 2;
  position: absolute;
  display: flex;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
}

.carousel .navigation .btn {
  background-color: white;
  width: 20px;
  height: 20px;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* slide */

.slide1.active {
  z-index: 2;
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slide2.active {
  z-index: 2;
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slide3.active {
  z-index: 2;
  clip-path: circle(150% at 0 50%);
  transition: 2s;
  transition-property: clip-path;
}

.slide1 {
  background-image: url("../assets/hero1.jpeg"),
    linear-gradient(to right, rgba(0, 0, 0, 0.678), rgba(0, 0, 0, 0.404));
}

.slide2 {
  background-image: url("../assets/hero2.jpeg"),
    linear-gradient(to right, rgba(0, 0, 0, 0.788), rgba(0, 0, 0, 0.466));
}

.slide3 {
  background-image: url("../assets/hero2.jpeg"),
    linear-gradient(to right, rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.541));
}

.slide4 {
  background-image: url("../assets/hero1.jpeg"),
    linear-gradient(to right, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.2));
}

.btn.active {
  border: 5px solid #8b5cf6;
}

@media screen and (max-width: 768px) {
  .carousel .navigation .btn {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 480px) {
  .slider {
    justify-content: center;
    text-align: center;
  }

  .carousel .navigation .btn {
    width: 10px;
    height: 10px;
  }
}
